<div class="container-fluid">
	<h1>Articles List</h1>
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>
					<input type="checkbox" class="checkAll">
				</th>
				<th>Title</th>
				<th>Author</th>
				<th>Publication Date</th>
				<th>State</th>
				<th>Score</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>
					<input type="checkbox" class="checkAll">
				</th>
				<th>Title</th>
				<th>Author</th>
				<th>Publication Date</th>
				<th>State</th>
				<th>Score</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</tfoot>
		<tbody>
			{{#each articles}}
			<tr id="{{this.id}}">
				<td>
					<input class="article-checkbox" type="checkbox" name="articleId"
						value="${this.id}">
				</td>
				<td>{{this.title}}</td>
				<td>{{this.authorId}}</td>
				<td>{{this.date}}</td>
				<td>{{this.state}}</td>
				<td>{{this.score}}</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-success accept-article">Accept</button>
						<button type="button" class="btn btn-danger decline-article">Decline</button>
					</div>
				</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-success show-article">Display</button>
						<button type="button" class="btn btn-warning edit-article">Edit</button>
						<button type="button" class="btn btn-danger delete-article">Delete</button>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-success accept-articles">Accept</button>
		<button type="button" class="btn btn-danger decline-articles">Decline</button>
	</div>
	<button type="button" class="btn btn-danger delete-articles">Delete</button>
</div>