<div class="container-fluid">
	<h1>Comments List</h1>
	<table class="table table-hover table-condensed"
		data-click-to-select="true">
		<thead>
			<tr>
				<th>
					<input type="checkbox" class="checkAll">
				</th>
				<th>Author</th>
				<th>Content</th>
				<th>Article</th>
				<th>Comment</th>
				<th>Score</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>
					<input type="checkbox" class="checkAll">
				</th>
				<th>Author</th>
				<th>Content</th>
				<th>Article</th>
				<th>Comment</th>
				<th>Score</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
			<tfoot>
				<tbody>
					{{#each comments}}
					<tr id="{{this.id}}">
						<td>
							<input type="checkbox" value="{{this.id}}">
						</td>
						<td>{{this.authorId}}</td>
						<td>{{this.content}}</td>
						<td>{{this.articleId}}</td>
						<td>{{this.commentId}}</td>
						<td>{{this.score}}</td>
						<td>{{this.date}}</td>
						<td>
							<button type="button" class="btn btn-danger delete-comment">Delete</button>
						</td>
					</tr>
					{{/each}}
				</tbody>
	</table>
	<button type="button" class="btn btn-danger delete-comments">Delete</button>
</div>