<div class="container-fluid">
	<h1>Users List</h1>
	<table class="table table-hover table-condensed"
		data-click-to-select="true">
		<thead>
			<tr>
				<th>
					<input type="checkbox" class="checkAll">
				</th>
				<th>Username</th>
				<th>Email</th>
				<th>Password</th>
				<th>Role</th>
				<th>Level</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>
					<input type="checkbox" class="checkAll">
				</th>
				<th>Username</th>
				<th>Email</th>
				<th>Password</th>
				<th>Role</th>
				<th>Level</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			<tfoot>
				<tbody>
					{{#each users}}
					<tr id="{{this.id}}">
						<td>
							<input class="user-checkbox" type="checkbox" name="userId"
								value="${this.id}">
						</td>
						<td>{{this.username}}</td>
						<td>{{this.email}}</td>
						<td>{{this.password}}</td>
						<td>{{this.role}}</td>
						<td>{{this.level}}</td>
						<td>{{this.status}}</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-success clear-user">Clear</button>
								<button type="button" class="btn btn-warning suspend-user">Suspend</button>
								<button type="button" class="btn btn-danger banish-user">Banish</button>
							</div>
							<button type="button" class="btn btn-danger delete-user">Delete</button>
						</td>
					</tr>
					{{/each}}
				</tbody>
	</table>
	<div class="btn-group">
		<button type="button" class="btn btn-success clear-users">Clear</button>
		<button type="button" class="btn btn-warning suspend-users">Suspend</button>
		<button type="button" class="btn btn-danger banish-users">Banish</button>
	</div>
	<button type="button" class="btn btn-danger delete-users">Delete</button>
</div>