{{#each articles}}
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-10 title-height-xl">
						<h1 class="panel-title">
							<a href="#" class="title">{{this.title}}</a>
						</h1>
						<span><small>by 
						<a href="#">{{this.username}}</a></small></span> 
						<span><small>on 
						<a href="#">{{this.date}}</a>
						</small></span>
					</div>
					<div class="col-md-2 title-height-xl score">
						<div class="pull-right">
							<span>{{this.score}}</span> <span>points</span>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body content-height-xl">
					{{this.content}}
			</div>
		</div>
	</div>
{{/each}}