#displayArticle_section
{
	display: flex;
	flex-direction: row;	
}

#displayArticle_article
{

}

#displayArticle_content
{
	display: flex;
	flex-direction: column;
}

#displayArticle_asides
{
	display: flex;
	flex-direction: column;
}

.displayArticle_asideContent
{
	
}

#displayArticle_footer
{
	
}

#displayArticle_footer_form
{
	
}