@CHARSET "ISO-8859-1";
.connection {
  margin: 50px auto;
  width: 40%;
  max-width: 400px;
}

#row > td {
  vertical-align: middle;
}

.title-height-xl {
  line-height: 30px;
  height: 50px;
}

.content-height-xl {
  height: 100px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.score {
  font-size: 20px;
}

.btn-link {
	margin-top:7px;
}

/*# sourceMappingURL=style.css.map */
